<template name="PrivateLayout">

		<div class="wrapper">
			<!-- ========== Left Sidebar Start ========== -->
			<div class="leftside-menu">
	
				<!-- LOGO -->
				<a href="/" class="logo text-center logo-light">
					<span class="logo-lg">
						<img src="/images/logo.png" alt="" height="16">
					</span>
					<span class="logo-sm">
						<img src="/images/logo_sm.png" alt="" height="16">
					</span>
				</a>

				<!-- LOGO -->
				<a href="/" class="logo text-center logo-dark">
					<span class="logo-lg">
						<img src="/images/logo-dark.png" alt="" height="16">
					</span>
					<span class="logo-sm">
						<img src="/images/logo_sm_dark.png" alt="" height="16">
					</span>
				</a>
	
				<div class="h-100" id="leftside-menu-container" data-simplebar>

					<!--- Sidemenu -->
					{{> mainSidenav}}

					<div class="clearfix"></div>

				</div>
				<!-- Sidebar -left -->

			</div>
			<!-- Left Sidebar End -->

			<!-- ============================================================== -->
			<!-- Start Page Content here -->
			<!-- ============================================================== -->

			<div class="content-page">
				<div class="content">
					<!-- Topbar Start -->
					<div class="navbar-custom">

						<ul class="list-unstyled topbar-menu float-end mb-0">


							<li class="dropdown notification-list">
								<a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
									aria-expanded="false">
									<span class="account-user-avatar"> 
										<img src="/images/users/avatar-1.jpeg" alt="user-image" class="rounded-circle">
									</span>
									<span>
										<span class="account-user-name">{{currentUserEmailOrUsername}}</span>
										<span class="account-position text-uppercase">{{currentUserRoles}}</span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

									<!-- item-->
									<a href="{{routeURL 'user'}}" class="dropdown-item notify-item">
										<i class="mdi mdi-account-circle me-1"></i>
										<span>My Account</span>
									</a>

									<!-- item-->
									<a href="{{routeURL 'logout'}}" class="dropdown-item notify-item">
										<i class="mdi mdi-logout me-1"></i>
										<span>Logout</span>
									</a>
								</div>
							</li>

						</ul>

						<button class="button-menu-mobile open-left">
							<i class="mdi mdi-menu"></i>
						</button>

					</div>
					<!-- end Topbar -->
					
					<!-- Start Content-->
					<div class="container-fluid">
						{{> Template.dynamic template=Content }}
					</div>
					<!-- container -->

				</div>
				<!-- content -->

				<!-- Footer Start -->
				<footer class="footer">
					<div class="container-fluid">

					</div>
				</footer>
				<!-- end Footer -->

			</div>

		</div>
		<!-- END wrapper -->

</template>


<template name="mainSidenav">
	<ul class="side-nav">
		<li class="side-nav-item {{navItemClass 'chat'}}" {{navItemVisible 'chat'}}>
			<a href="{{routeURL 'chat'}}" class="side-nav-link" {{navItemVisible 'chat'}}>
				<i class="uil-chat"></i>
				<span> Debug </span>
			</a>
		</li>
		<li class="side-nav-item {{navItemClass 'test'}}" {{navItemVisible 'test'}}>
			<a href="{{routeURL 'test'}}" class="side-nav-link" {{navItemVisible 'test'}}>
				<i class="uil-analysis"></i>
				<span> Test </span>
			</a>
		</li>
	</ul>
</template>
